*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}
.h-line{
    font-weight: 700;
    font-size: 65px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 174px;
}
.dsc{
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    width: 691px;
    margin: auto;
    color: #FFFFFF;
}
.banner{
   width: 100%;
   height: 60vh;
   margin: auto;
   background-image: url(/images/donation13.jpg), linear-gradient(360deg, #121212 0%, rgba(18, 18, 18, 0) 100%);
   background-blend-mode: overlay;
   background-repeat: no-repeat;
   background-size: cover;

}
.p-btn{
    margin: auto;
    background-color: #FF5959;
    display: flex;
    margin: 30px auto;
    padding: 16px 12px;
    border: none;
    border-radius: 5px;

}
.donate{
    text-align: center;
}
.donate-h{
    font-weight: 700;
    font-size: 45px;
    color: #121212;
    padding: 130px 0 20px 0;
}
.donate-dsc{
    font-size: 18px;
    line-height: 28px;
    color: #707070;
    width: 600px;
    margin: auto;
}
.amount{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    color: #707070;
}
.taka{
    padding: 43px 25px;
    background-color: #FAFAFA;
    border-radius: 5px;
    margin: 22px;
}
.amount .taka{
    width: 135px;
}
.taka:hover{
    background-color: #FFEEEE;
    color: #FF5959;
}
.other-a{
    text-align: center;  
    border-bottom: 1px solid #DADADA;
    border-radius: 5px;
    width: 765px;
    margin: auto;
}
.o-amount{
    border: none;
    text-align: center;
    margin-bottom: 9.5px;

}
.plan{
    display: flex;
    justify-content: center;

}
.plan1{
    background: rgba(79, 157, 166, 0.1);
    width: 360px;
    height: 352px;
    margin: 24PX;
    border-radius: 5px;
}
.plan2{
    background: rgba(255, 89, 89, 0.1);
    width: 360px;
    height: 352px;  
    margin: 24PX;
    border-radius: 5px;
}
.plan3{
    background: #fff4d6;
    width: 360px;
    height: 352px;
    margin: 24PX;
    border-radius: 5px;
}
img{
    padding-top: 65px;
    padding-left: 20px;
}
.plan-h{
    padding-top: 16px;
    padding-left: 20px;
}
.plan-dsc{
    padding-top: 10px;
    padding-left: 20px;
}